# Disallow --------
# Ignore files and directories
/*
/*/


# Allow --------
# Vim config & dir
!.vimrc
!.vim/

# Neovim
!/.config
.config/*
!/.config/nvim
#.config/nvim/*

# Custom sh-cripts
!custom-scripts/

# Bashrc
!.bashrc

# Well of course, cannot ignore yourself, can you, gitignore?
!.gitignore
